@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Rubik:wght@300;400;500;600;700&display=swap');

.landing__section {
    font-family: 'Black Ops One', cursive;
    font-family: 'Rubik', sans-serif;
    overflow-y: hidden;
    height: 95vh;
}

.nft__img {
    width: 450px;
    margin-right: 60px;
}

.explore__btn {
    height: 60px;
    width: 350px;
    font-size: 25px;
    font-weight: 600;
    background-color: white;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
}

.collection__btn {
    margin-left: 20px;
    height: 40px;
    width: 180px;
    font-size: 18px;
    font-weight: 550;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    background-color: #3e00b3;
    outline: none;
    border: 1px solid white;
}